{% extends "base.html" %}
{% from "bootstrap/macros.html" import alert  %}
{% from "bootstrap/forms/macros.html" import field, input  %}

{# Navbar is set in the app-specific override "base.html" #}

{% block content %}

    <div class="hero-unit">
        <h1>Jinja Boostrap Examples</h1>
        <br>
        <p>
            Examples of <a href="http://github.com/auzigog/jinja-bootstrap">Jinja Bootstrap</a> in use with Django.
            See the <a href="https://github.com/auzigog/jinja-bootstrap/blob/master/example_project_django/root/templates/home.html">source for this file</a> for details on how to render these items.
        </p>
    </div>

    <section>
        <div class="page-header">
            <h2>Alerts</h2>
        </div>

        <div class="row">
            <div class="span4">
                <p>See the bootstrap docs for a list <a href="http://twitter.github.com/bootstrap/components.html#alerts">alert types</a>.</p>
            </div>
            <div class="span8">
                {{ alert("Warning alert by default") }}
                {{ alert("Success message", type="success") }}
                {{ alert("Error with close button disabled", type="error", close_button=False) }}
                {{ alert("<strong>Hello there!</strong> Info with some strong text", type="info") }}
                {{ alert("Some smaller text", alert_header="A bigger header", type="success") }}
            </div>
        </div>

    </section>


    <section>
        <div class="page-header">
            <h2>Forms</h2>
        </div>

        <div class="row">
            <div class="span4">
                <h3>Simple Form</h3>
            </div>
            <div class="span8">
                <form>
                    <fieldset>
                        {{ field(login_form.username) }}
                        {{ field(login_form.password) }}
                        <button type="submit" class="btn">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <h3>Inline Form</h3>
            </div>
            <div class="span8">
                <form class="form-inline">
                    <fieldset>
                        <br>
                        <div class="well">
                            {# NOTE: the input macro is used here instead of field, so that the inline fields show up properly instead of being wrapped in a <div> #}
                            {{ input(inline_form.username|field_attrs(placeholder="username", class="input-small")) }}
                            {{ input(inline_form.password|field_attrs(placeholder="password", class="input-small")) }}
                            <button type="submit" class="btn">Log In</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <h3>Advanced Form</h3>
            </div>
            <div class="span8">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Register</legend>
                        {{ field(register_form.username) }}
                        {{ field(register_form.email) }}
                        {{ field(register_form.password1) }}
                        {{ field(register_form.password2) }}

                        <div class="form-actions">
                            <p class="pull-right">
                                <a href="#">Already have an account? Login!</a>
                            </p>
                            <button type="submit" class="btn btn-primary">Create Account</button>
                            <a href="#" class="btn">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <h3>Fancy Form</h3>
            </div>
            <div class="span8">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>A legend element</legend>
                        {{ field(fancy_form.email) }}
                        {{ field(fancy_form.placeholder1|field_attrs(placeholder="This placeholder is defined in the template in root/templates/home.py", rows=4)) }}
                        {{ field(fancy_form.placeholder2) }}
                        {{ field(fancy_form.fake_error) }}
                        {{ field(fancy_form.long_field|field_attrs(class="span4")) }}
                        {{ field(fancy_form.appended, append_content="@gmail.com") }}
                        {{ field(fancy_form.prepended, prepend_content="$") }}

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a href="#" class="btn">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </section>

{% endblock %}